name: Bearer

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  rule_check:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      
    steps:
      - uses: actions/checkout@v6
      - name: Bearer
        uses: bearer/bearer-action@v2
        with:
          format: sarif
          output: results.sarif
          exit-code: 0

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
