# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Security Scan with DevSkim

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '28 16 * * 1'

jobs:
  lint:
    name: DevSkim
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1
      
      - name: Upload DevSkim scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        if: always() # Ensure upload runs even if devskim finds issues (returns non-zero exit code)
        with:
          sarif_file: devskim-results.sarif

      - name: Save report as pipeline artifact
        # Use the latest major version of upload-artifact
        uses: actions/upload-artifact@v5
        if: always() # Ensure artifact upload runs
        with:
          name: devskim-results.sarif
          path: devskim-results.sarif
