name: njsscan check
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
jobs:
  njsscan:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    name: njsscan code scanning
    steps:
    - name: Checkout the code
      uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        
    - name: nodejsscan scan
      id: njsscan
      uses: ajinabraham/njsscan-action@master
      with:
        args: '. --sarif --output njsscan.sarif || true'
        
    - name: Upload njsscan report
      uses: github/codeql-action/upload-sarif@v4
      if: always()
      with:
        sarif_file: njsscan.sarif

    - name: Save report as pipeline artifact
      uses: actions/upload-artifact@v5
      if: always() # Ensure artifact upload runs
      with:
        name: njsscan.sarif
        path: njsscan.sarif
