name: "ZAP Baseline Scan"

on:
  workflow_dispatch:
  schedule:
    # Runs once a week, on Saturday at 18:00 UTC
    - cron: '0 18 * * 6'

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan Local Checkout Instance
    
    # Permissions required for uploading findings to the GitHub Security Dashboard
    permissions:
      contents: read
      security-events: write 
      
    steps:
      - name: Checkout Juice Shop Git repository
        # Use the latest major version
        uses: actions/checkout@v6
          
      - name: Install dependencies and start Juice Shop
        run: |
          # Install dependencies
          npm install
          # Start the server and run it in the background (&) 
          # The output is redirected to a file to prevent filling the action log
          npm start > /dev/null 2>&1 &
          
      - name: Wait for Juice Shop to be ready
        # Wait for the service to start up and become accessible on the local network.
        uses: cygnetdigital/wait_for_response@v2.0.0
        with:
          url: 'http://localhost:3000/'
          responseCode: '200,500'
          timeout: 60000
          interval: 500

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Target the local instance running on port 3000
          target: 'http://localhost:3000'
          rules_file_name: '.zap/rules.tsv'
          # Automatically upload findings to the GitHub Security Dashboard
          upload_sarif: true
          cmd_options: '-a -j'